[Unit]
Description=Matter Server
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/matter-js/matterjs-server:stable
AutoUpdate=registry
ContainerName=matter-server
Network=host
Environment=TZ=America/Montreal
Environment=PRIMARY_INTERFACE=eno1
Environment=LISTEN_ADDRESS=127.0.0.1
Volume=/home/martin/service-data/matter-server:/data

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
