[Unit]
Description=Run the home server backup daily

[Timer]
OnCalendar=*-*-* 06:00:00
Persistent=true
Unit=backup.service

[Install]
WantedBy=timers.target
