services:
  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:latest
    restart: unless-stopped
    volumes:
      - /home/martin/vw-data:/data
    ports:
      - ${IP}:9090:80
    network_mode: bridge
    # env_file: .env
    user: 1000:1000
    labels:
      - homepage.group=Apps
      - homepage.name=Vaultwarden
      - homepage.href=https://vw.tinmarr.com
      - homepage.icon=vaultwarden

  actual_budget:
    image: docker.io/actualbudget/actual-server:latest
    container_name: actual_budget
    ports:
      # This line makes Actual available at port 5006 of the device you run the server on,
      # i.e. http://localhost:5006. You can change the first number to change the port, if you want.
      - ${IP}:5006:5006
    volumes:
      # Change './actual-data' below to the path to the folder you want Actual to store its data in on your server.
      # '/data' is the path Actual will look for its files in by default, so leave that as-is.
      - /home/martin/actual-data:/data
    restart: unless-stopped
    user: 1000:1000
    labels:
      - homepage.group=Apps
      - homepage.name=Actual Budget
      - homepage.href=https://budget.tinmarr.com
      - homepage.icon=actual-budget

  jellyfin:
    container_name: jellyfin
    image: lscr.io/linuxserver/jellyfin:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montreal
      - JELLYFIN_PublishedServerUrl=https://jellyfin.tinmarr.com
    volumes:
      - ./jellyfin-config:/config
      - /home/martin/media:/data
    ports:
      - ${IP}:8096:8096
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    restart: unless-stopped
    labels:
      - homepage.group=Tinflix
      - homepage.name=Jellyfin
      - homepage.href=https://jellyfin.tinmarr.com
      - homepage.icon=jellyfin
    
  jellyseerr:
    container_name: jellyseerr
    image: ghcr.io/fallenbagel/jellyseerr:latest
    environment:
      - LOG_LEVEL=debug
      - TZ=America/Montreal
    ports:
      - ${IP}:5055:5055
    volumes:
      - ./jellyseerr-config:/app/config
    user: 1000:1000
    restart: unless-stopped
    labels:
      - homepage.group=Tinflix
      - homepage.name=Jellyseerr
      - homepage.href=https://tinflix.tinmarr.com
      - homepage.icon=jellyseerr

  syncthing:
    image: syncthing/syncthing
    container_name: syncthing
    hostname: my-syncthing
    environment:
      - PUID=1000
      - PGID=1000
      - STGUIADDRESS=
    volumes:
      - /home/martin/notes:/var/syncthing/notes
      - ./st-data:/var/syncthing
    network_mode: host
    restart: unless-stopped
    healthcheck:
      test: curl -fkLsS -m 2 127.0.0.1:8384/rest/noauth/health | grep -o --color=never OK || exit 1
      interval: 1m
      timeout: 10s
      retries: 3
    labels:
      - homepage.group=Apps
      - homepage.name=Syncthing
      - homepage.href=https://internal.tinmarr.com/syncthing
      - homepage.icon=syncthing

  # homeassistant:
  #   container_name: homeassistant
  #   image: ghcr.io/home-assistant/home-assistant:stable
  #   volumes:
  #     - ./ha-config:/config
  #     - /etc/localtime:/etc/localtime:ro
  #     - /run/dbus:/run/dbus:ro
  #   restart: unless-stopped
  #   privileged: true
  #   network_mode: host
  #   labels:
  #     - homepage.group=Apps
  #     - homepage.name=Home Assistant
  #     - homepage.href=https://ha.tinmarr.com
  #     - homepage.icon=home-assistant
