name: tinflix
services:
  qbit:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbit
    depends_on:
      - wireguard
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montreal
      - WEBUI_PORT=9091
    volumes:
      - ./qbit-config:/config
      - /home/martin/backup_disk/qbit_downloads:/downloads
    network_mode: service:wireguard
    # ports:
    #   - 9091:9091
    #   - 6881:6881
    #   - 6881:6881/udp
    restart: unless-stopped
    labels:
      - homepage.group=Tinflix
      - homepage.name=qBittorrent
      - homepage.href=/qbit
      - homepage.icon=qbittorrent

  wireguard:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      # - SYS_MODULE #optional
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      # - SERVERURL=wireguard.domain.com #optional
      # - SERVERPORT=51820 #optional
      # - PEERS=1 #optional
      # - PEERDNS=auto #optional
      # - INTERNAL_SUBNET=10.13.13.0 #optional
      - ALLOWEDIPS=0.0.0.0/0 #optional
      # - PERSISTENTKEEPALIVE_PEERS= #optional
      # - LOG_CONFS=true #optional
    volumes:
      - ./wg-config:/config
      # - /lib/modules:/lib/modules #optional
    ports:
      #- ${IP}:51820:51820/udp
      - ${IP}:9091:9091
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montreal
    volumes:
      - ./prowlarr-config:/config
    ports:
      - ${IP}:9696:9696
    restart: unless-stopped
    labels:
      - homepage.group=Tinflix
      - homepage.name=Prowlarr
      - homepage.href=/prowlarr
      - homepage.icon=prowlarr

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montreal
    volumes:
      - ./radarr-config:/config
      - /home/martin/media/movies:/movies
      - /home/martin/backup_disk/qbit_downloads:/downloads
    ports:
      - ${IP}:7878:7878
    restart: unless-stopped
    labels:
      - homepage.group=Tinflix
      - homepage.name=Radarr
      - homepage.href=/radarr
      - homepage.icon=radarr

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montreal
    volumes:
      - ./sonarr-config:/config
      - /home/martin/media/tv:/tv
      - /home/martin/backup_disk/qbit_downloads:/downloads
    ports:
      - ${IP}:8989:8989
    restart: unless-stopped
    labels:
      - homepage.group=Tinflix
      - homepage.name=Sonarr
      - homepage.href=/sonarr
      - homepage.icon=sonarr
