[Unit]
Description=Immich Redis
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/valkey/valkey:8-bookworm@sha256:42cba146593a5ea9a622002c1b7cba5da7be248650cbb64ecb9c6c33d29794b1
Pod=immich.pod
HealthCheck=/bin/sh -c redis-cli ping || exit 1

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
