[Unit]
Description=Immich Machine Learning
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:release-openvino
AutoUpdate=registry
Pod=immich.pod
Volume=model-cache:/cache
EnvironmentFile=./%h/home-server-configs/podman/immich.env
Device=/dev/dri:/dev/dri
DeviceCgroupRule=c 189:* rmw
Volume=/dev/bus/usb:/dev/bus/usb

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
