[Unit]
Description=Uptime Kuma
After=network-online.target
Wants=network-online.target

[Container]
Image=louislam/uptime-kuma:2
AutoUpdate=registry
PublishPort=127.0.0.1:3001:3001
Volume=%h/home-server-configs/docker/management/kuma-data:/app/data
Volume=/var/run/docker.sock:/var/run/docker.sock
User=1000:1000
Label=homepage.group=Monitoring
Label=homepage.name=UptimeKuma
Label=homepage.href=https://kuma.tinmarr.com
Label=homepage.icon=uptime-kuma
Label=homepage.widget.type=uptimekuma
Label=homepage.widget.url=https://kuma.tinmarr.com
Label=homepage.widget.slug=api
Label=homepage.widget.fields=["up", "down"]

[Service]
Restart=unless-stopped

[Install]
WantedBy=multi-user.target
