[Unit]
Description=Watchtower Container
After=network-online.target
Wants=network-online.target

[Container]
Image=nickfedor/watchtower
AutoUpdate=registry
Volume=/var/run/docker.sock:/var/run/docker.sock
Volume=/etc/localtime:/etc/localtime:ro
Environment=PUID=1000
Environment=PGID=1000
Exec=/bin/sh -c -- --cleanup --schedule "0 0 2 * * *" --http-api-token ${WATCHTOWER_KEY} --http-api-metrics
Label=homepage.group=Monitoring
Label=homepage.name=Watchtower
Label=homepage.href=#
Label=homepage.icon=watchtower
Label=homepage.widget.type=watchtower
Label=homepage.widget.url=http://watchtower:8080
Label=homepage.widget.key=${WATCHTOWER_KEY}

[Service]
Restart=unless-stopped

[Install]
WantedBy=multi-user.target
