[Unit]
Description=Dash. Dashboard
After=network-online.target
Wants=network-online.target

[Container]
Image=mauricenino/dashdot:latest
AutoUpdate=registry
PublishPort=127.0.0.1:9092:3001
Privileged=true
Environment=DASHDOT_WIDGET_LIST=os,cpu,storage,ram,network
Environment=DASHDOT_ALWAYS_SHOW_PERCENTAGES=true
Environment=DASHDOT_SHOW_HOST=true
Environment=DASHDOT_ENABLE_CPU_TEMPS=true
Environment=DASHDOT_USE_NETWORK_INTERFACE=eno1
Environment=DASHDOT_ACCEPT_OOKLA_EULA=true
Volume=/:/mnt/host:ro
Label=homepage.group=Monitoring
Label=homepage.name=Dash.
Label=homepage.href=https://dash.tinmarr.com
Label=homepage.icon=dashdot

[Service]
Restart=unless-stopped

[Install]
WantedBy=multi-user.target
