[Unit]
Description=Jellyseerr Request Manager
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/fallenbagel/jellyseerr:latest
AutoUpdate=registry
PublishPort=127.0.0.1:5055:5055
Environment=LOG_LEVEL=debug
Environment=TZ=America/Montreal
Volume=%h/home-server-configs/docker/misc/jellyseerr-config:/app/config
User=1000:1000
Label=homepage.group=Tinflix
Label=homepage.name=Jellyseerr
Label=homepage.href=https://tinflix.tinmarr.com
Label=homepage.icon=jellyseerr

[Service]
Restart=unless-stopped

[Install]
WantedBy=multi-user.target
