[Unit]
Description=Pi-hole DNS Server
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/pihole/pihole:latest
AutoUpdate=registry
# nginx maps back to 53
PublishPort=127.0.0.1:1053:53/tcp 
PublishPort=127.0.0.1:1053:53/udp 
PublishPort=127.0.0.1:8888:80/tcp
Environment=TZ=America/Montreal
Environment=FTLCONF_dns_listeningMode=all
Volume=%h/service-data/etc-pihole:/etc/pihole
AddCapability=SYS_NICE
Label=homepage.group=Monitoring
Label=homepage.name=PiHole
Label=homepage.href=https://pihole.tinmarr.com/admin
Label=homepage.icon=pi-hole
Label=homepage.widget.type=pihole
Label=homepage.widget.url=http://127.0.0.1:8888
Label=homepage.widget.version=6
#Label=homepage.widget.key=${PIHOLE_KEY}

[Service]
Restart=always

[Install]
WantedBy=default.target
