[Unit]
Description=Radarr Movie Downloader
After=network-online.target
Wants=network-online.target

[Container]
Image=lscr.io/linuxserver/radarr:latest
AutoUpdate=registry
Pod=tinflix.pod
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/Montreal
Volume=%h/home-server-configs/docker/tinflix/radarr-config:/config
Volume=%h/media/movies:/movies
Volume=%h/backup_disk/qbit_downloads:/downloads
PublishPort=127.0.0.1:7878:7878
Label=homepage.group=Tinflix
Label=homepage.name=Radarr
Label=homepage.href=/radarr
Label=homepage.icon=radarr

[Service]
Restart=unless-stopped

[Install]
WantedBy=multi-user.target
