[Unit]
Description=WireGuard VPN
After=network-online.target
Wants=network-online.target

[Container]
Image=lscr.io/linuxserver/wireguard:latest
AutoUpdate=registry
Pod=tinflix.pod
CapAdd=NET_ADMIN
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC
Environment=ALLOWEDIPS=0.0.0.0/0
Volume=%h/home-server-configs/docker/tinflix/wg-config:/config
Sysctl=net.ipv4.conf.all.src_valid_mark=1

[Service]
Restart=unless-stopped

[Install]
WantedBy=multi-user.target
